* {
  box-sizing: border-box;
  font-family: "Segoe UI Variable", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

html,
body {
  background-color: #000000;
  color: #ffffff;
}

.character {
  width: 90%;
  height: 90%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  left: 0;
  top: 0;
}

.overlay {
  display: flex;
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(10, 10, 10);
  padding: 20px;
}

.overlay p#charResponse {
  width: 50%;
}

.overlay .inputs {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-bottom: 20px;
}

.overlay .inputs input {
  background-color: rgb(25, 25, 25);
  color: #ffffff;
  border: 1px solid rgb(50, 50, 50);
  border-radius: 5px;
}

.aboutContainer {
  margin: 15px;
  width: 40%;
}

button {
  background-color: rgb(25, 25, 25);
  color: #ffffff;
  border: 1px solid rgb(50, 50, 50);
  border-radius: 5px;
  transition: all 0.15s ease-in-out;
}

button:hover {
  background-color: rgb(40, 40, 40);
  cursor: pointer;
}

.character #charCanvas {
  display: flex;
  top: 0;
  left: 0;
  margin: 0 auto;
  transition: all 0.5s ease-in-out;
}

#loadScreen {
  background-color: #0a0a0a;
  color: #ffffff;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 1s ease-in-out;
}

#loadScreen #progressBar {
  color: #fefefe;
  background-color: rgb(25, 25, 25);
  transition: width 0.5s ease-in-out;
  border-radius: 5px;
}
